body {
	background-color:#485A75;
  font-family: 'Sansita One', cursive;
  font-size: 16px;
}

h1 {
	font-size: 72px;
	color: #8AB50D;
	text-align: center;
}

h3 { 
  font-size: 36px;
}

input {
	font-size: 54px;
	text-align: center;

}

.main-div {
	text-align: center;
}

.word-value {
	margin-top: 50px;
	vertical-align: bottom;
	font-size: 150px;
	text-align: center;
}

.dollar { 
  color: #8AB50D;
}

ul.dollar-words {
  list-style-type: none;
}